<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student"
          class="com.liuyang19900520.liuyangspring.demo01.Student">
        <constructor-arg value="zhang"/>
    </bean>

    <bean id="school"
          class="com.liuyang19900520.liuyangspring.demo01.School">
        <constructor-arg ref="student"/>
    </bean>

</beans>